// *****************
// Color Variables
// *****************
$primary-color: #fdd835;
$secondary-color: #8e24aa;
$dark: #333;
$gray: #666;
$gray-dark: #212121;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #616161;
$white: #fff;
